[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.3"
psycopg2-binary = "*"
azure-storage-blob = "==12.17.0"
langchain = "==0.0.281"
openai = "==0.27.8"
pydantic = "==1.10.9"
python-dotenv = "==1.0.0"
redis = "==4.5.5"
sqlalchemy = "==2.0.19"
pyodbc = "==4.0.39"
pypdf2 = "==3.0.1"
pymupdf = "*"
langchain-experimental = "*"
joblib = "==1.2.0"
tiktoken = "==0.4.0"
databricks-sql-connector = "*"
azure-identity = "*"
scikit-learn = "*"
jinja2 = "*"
importlib-resources = "*"

[dev-packages]
scipy = "*"

[requires]
python_version = "3.10"

[tests]
seaborn = "*"
requests = "*"
pytest = "*"
